@import "bootstrap"
@import "bootstrap/variables"
@import "bootstrap/mixins"

.table>thead>tr>.info, .table>tbody>tr>.info, .table>tfoot>tr>.info, .table>thead>.info>td, .table>tbody>.info>td, .table>tfoot>.info>td, .table>thead>.info>th, .table>tbody>.info>th, .table>tfoot>.info>th
  background-color: #dedeff!important

.table>thead>tr>.danger, .table>tbody>tr>.danger, .table>tfoot>tr>.danger, .table>thead>.danger>td, .table>tbody>.danger>td, .table>tfoot>.danger>td, .table>thead>.danger>th, .table>tbody>.danger>th, .table>tfoot>.danger>th
  background-color: #f2dede!important

footer
  margin-top: 20px
  border-top: 1px solid $gray-light
  padding-top: 10px
  padding-left: 10px
